{
    "singleQuote": true,
    "jsxSingleQuote": true,
    "trailingComma": "all",
    "printWidth": 80,
    "endOfLine": "auto",
    "semi": false,
    "bracketSpacing": true,
    "tabWidth": 2,
    "useTabs": false
  }